<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591038745442-r8ssms25qq79vh7op0nujr6se81nvq8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591038745442-r8ssms25qq79vh7op0nujr6se81nvq8j</string>
	<key>API_KEY</key>
	<string>AIzaSyB3PkOmuea0G2nV0S2VhsK8oW-e0NJjWkA</string>
	<key>GCM_SENDER_ID</key>
	<string>591038745442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taks3mc</string>
	<key>PROJECT_ID</key>
	<string>m3c-test-9d01f</string>
	<key>STORAGE_BUCKET</key>
	<string>m3c-test-9d01f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591038745442:ios:2c94bac81778b5c2f3fa3b</string>
</dict>
</plist>